<article class="abstract">
	<header>
		<h2>{{title}}</h2>
		<time datetime="{{wrote_at}}">{{caltm}}</time>
	</header>
	{{{html}}}
	<footer>
		<a href="{{{canonical}}}">{{canonical}}</a>
	</footer>
</article>
